[Unit]
Description=Course Bot
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/opt/bottaxi
ExecStart=/opt/bottaxi/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
